@using DotNetNuke.Common
@using DotNetNuke.Entities.Users
@using BiteTheBullet.BtbTweet.Twitter;
@using System.Text.RegularExpressions;

@model IList<TwitterInfo>

@helper FormatStatus(string status){

    @* format the links *@
    var temp = Regex.Replace(status, @"\b((http|https)://\S*)\b", "<a href=\"$1\">$1</a>");

    @* format the #hashtags *@
    temp = Regex.Replace(temp, @"(#(\b\S*\b))", "<a href=\"https://twitter.com/search?q=%23$2\">$1</a>");

    @* format the @user *@
    temp = Regex.Replace(temp, @"(@(\b\S*\b))", "<a href=\"https://twitter.com/$2\">$1</a>");

    @Raw(temp)
}

@helper FormatAge(DateTime input){
    var timeSpan = DateTime.Now - input;

    if(timeSpan.Days == 1){
        @:About 1 day ago
    }
    else if(timeSpan.Days > 1){
        @:About @timeSpan.Days days ago
    }
    else if(timeSpan.Hours == 1){
        @:About 1 hour ago
    }
    else if(timeSpan.Hours > 1){
        @:About @timeSpan.Hours hours ago
    }
    else if(timeSpan.Minutes == 1){
        @:About 1 minute ago
    }
    else if(timeSpan.Minutes > 1){
        @:About @timeSpan.Minutes minutes ago
    }
}

<div class="row">
    <div class="col-sm-12">
        <ul class="tweet_list">

    @foreach(var tweet in Model)
    {
        <li>            
            <div class="tweet_avatar">
                <img src="@tweet.ProfileImage" alt="" />
            </div>
            <div class="tweet_body">
                @FormatStatus(tweet.Text)
                <p>@FormatAge(tweet.Created)</p>
            </div>
        </li>
    }


        </ul>
    </div>
</div>

