@using DotNetNuke.Common;
@using System.Linq;
@using DotNetNuke.Web.Client.ClientResourceManagement;
@using BiteTheBullet.BtbTweet.WebServices;

@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>

@{
    var tweets = new Twitter().LoadTweets(Dnn.Portal.PortalId, Dnn.Module.TabModuleID);
}


<div id="btbTwitterContainer">
    <div class="tweet-list">
        <div class="row">
            @foreach (var tweet in tweets)
            {
                <div class="col-lg-4 col-sm-6 col-12 d-flex align-items-stretch mb-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="tweet-avatar">
                                <img src="@tweet.ProfileImage" alt="@tweet.ProfileName" class="img-fluid w-100" />
                            </div>
                        </div>
                        <div class="tweet-body card-body">
                            @tweet.ProcessedText
                            <div class="timestamp-color">
                              <i>@tweet.Created</i>
                            </div>
                        </div>
                        <div class="card-footer">
                            @tweet.Created
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
